.App {
    text-align: center;
    margin-top: 20px;
  }
/* body{
    background-size: cover;
    background-repeat: no-repeat ;
    
} */
.quote-container {
      background-color: #202d3e ;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 7%;
    background-color: whitesmoke;
    margin-top: 90px; 
    box-shadow: 0 0 5em -1em black;
    transition: all, var(--transition-time);
    position: relative;
    overflow: hidden;
    border: 3px solid #ccc;
    text-decoration: none;

  }
  
  .quote-text {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .quote-author {
    font-style: italic;
  }
  
  .rqbut {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .rqbut:hover {
    background-color: #0056b3;
  }